.li {
  font-size: 13px;
  width: 162px;
}

.btn1 {
  font-size: 13px;
  width: 60px;
  height: 30px;
  margin-left: 20px;
}

.btn2 {
  font-size: 13px;
  width: 60px;
  height: 30px;
  margin-left: 20px;
  background-color: #2d2f31;
  color: white;
}

.btn3 {
  margin-left: 20px;
}

.carusel1 {
  background-image: url(./img/img-3.jpg);
  height: 400px;
}

.carusel1 .card {
  font-size: 20px;
}

.carusel2 {
  background-image: url(./img/img-2.jpg);
  height: 400px;
}

.ul_li li {
  display: inline-block;
}

.company {
  text-align: center;
}

.section2 {
  height: 250px;
  background-color: rgb(231, 231, 231);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 1200px;
  height: 350px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p1 {
  color: rgb(145, 144, 144);
  font-size: 10px;
}

.ul2 {
  border: 0px solid black;
  border-top: 0px;
}

.ul2 a {
  text-decoration: none;
  color: black;
}

.carusel3 .carusel4{
  border: 1px solid black;
  width: 1400px;
  height: 570px;
}

.carusel3  .carusel4 button{
  width: 120px;
  height: 40px;
  margin-left: 100px;
}

.span1{
  font-weight: bold;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.youSwiper {
  width: 980px;
  height: 400px;
}

.youSwiper swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #6a6b6b solid ;
  text-align: center;

}

.youSwiper swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p4{
  font-size: 75px;
  margin-top: -350px;
  margin-left: -290px;
  height: 50px;
}

.swiper1{
  font-size: 15px;
  width: 300px;
}
.swiper_div .WA{
  margin-bottom: -200px;
  margin-left: -230px;
  background-color: #2d2f31;
  color: white;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.swiper_div{
  margin-top: 265px;
  border-bottom: 1px solid rgb(158, 157, 157);
  padding:0px 10px 0px 10px ;
}

.p5{
  margin-left: -120px;
  margin-top: -20px;
}

.swiper_div2{
  margin-top: 300px;
  width: 500px;
  margin-left: -500px;
}

.div1{
  background-color: purple;
  width: 50px;
  height: 50px;
  margin-left: 185px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
}

.p6{
  font-size: 13px;
  color: purple;
  float: right;
  margin-top: 45px;
}

.button2{
  width: 11rem;
  height: 3rem;
}

.udemy_1 p{
  display: inline-block;
  color: rgb(71, 71, 247);
  font-size: 25px;
  margin-top: 40px;
}

.button3{
  width: 8rem;
  height: 3rem;
}

.udemy_1 li{
  font-size: 18px;
}

.udemy_2{
  float: right;
  margin-top: -370px;
  margin-right: 300px;
}

.img img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 330px;
}

.img{
  margin-top: -200px;
  margin-right: 270px;
}